/* 主页标题部分 */
.home-title, .home-content {
    display: flex;
    flex-direction: column;
}
.home-title-logo {
    text-align: center;
    margin: 0;
}
.logo { /* 定义一下后面要用的 logo */
    text-align: left;
    margin: 0;
}
.home-title-info {
    text-align: left;
}
/* 桌面端主页标题Logo和文字 */
.home-title-info h2, .home-content h2 {
    font-size: 2rem;
    margin: 10px 0;
}
.home-title-info h1, .home-content h1 {
    font-size: 3rem;
    margin: 10px 0;
}

/* 移动端主页标题Logo和文字 */
@media screen and (max-width: 767px) {
    .home-title-info h2, .home-content h2 {
        font-size: 1.5rem;
        margin: 6px 0;
    }
    .home-title-info h1, .home-content h1 {
        font-size: 2rem;
        margin: 6px 0;
    }
}

/* 展示板样式 */
.display-board {
    width: 100%;
    height: 430px;
    overflow-x: auto;
    margin-top: 20px;
    /* Firefox滚动条样式 */
    scrollbar-width: thin;
    scrollbar-color: var(--text-color) transparent;
}

/* Webkit浏览器滚动条样式 */
.display-board::-webkit-scrollbar {
    height: 8px;
}

.display-board::-webkit-scrollbar-track {
    background: transparent;
}

.display-board::-webkit-scrollbar-thumb {
    background: var(--text-color);
    border-radius: 4px;
}

.display-board::-webkit-scrollbar-button {
    display: none;
}

.display-board-inner {
    display: flex;
    gap: 20px;
    width: max-content;
}

.display-board-part-1,
.display-board-part-2,
.display-board-part-3 {
    width: 944px;
    height: 400px;
    flex-shrink: 0;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: calc(0.5cm + 22px);
    z-index: 998;
}

/* 第一个小块与content-text的h1对齐 */
.display-board-inner {
    padding: 0 calc((100vw - 950px) / 2);
}

/* 平板端 */
@media screen and (max-width: 1023px) {
    .display-board-part-1,
    .display-board-part-2,
    .display-board-part-3 {
        width: 545px;
    }
    .display-board-inner {
        padding: 0 calc((100vw - 550px) / 2);
    }
}

/* 移动端 */
@media screen and (max-width: 767px) {
    .display-board-part-1,
    .display-board-part-2,
    .display-board-part-3 {
        width: 345px;
    }
    .display-board-inner {
        padding: 0 calc((100vw - 350px) / 2);
    }
}

/* 狭窄移动端 */
@media screen and (max-width: 374px) {
    .display-board-part-1,
    .display-board-part-2,
    .display-board-part-3 {
        width: 236px;
    }
    .display-board-inner {
        padding: 0 calc((100vw - 240px) / 2);
    }
}

/* 展示板一个模块内部 */
.ellipsis {
    width: 100%;
    display: -webkit-box;
}
@media screen and (max-width: 767px) {
    .ellipsis {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 5; /* 这里设置显示的行数 */
        overflow: hidden;
    }
}
@media screen and (max-width: 374px) {
    .ellipsis {
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2; /* 这里设置显示的行数 */
        overflow: hidden;
    }
}
