:root {
    /* 浅色模式变量 */
    --bg-color: #d0d0d0;
    --text-color: #222;
    --accent-color: #007bff;
}

@media (prefers-color-scheme: dark) {
    :root {
        /* 深色模式变量 */
        --bg-color: #111;
        --text-color: #d0d0d0;
        --accent-color: #3f9aff;
    }
}

::selection {
    background-color: var(--text-color);
    color: var(--bg-color);
}

html {
    font-size: 0.4cm;
    text-wrap: pretty;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    text-emphasis: var(--bg-color);
    text-emphasis-color: var(--text-color);
    font-family: 'JetBrains Mono', sans-serif;
    margin: 0;
}

a:link {
    text-decoration:none;
    color: var(--accent-color);
}
a:visited {
    text-decoration:none;
    color: var(--accent-color);
}
a:hover {
    text-decoration:underline;
    color: var(--accent-color);
}
a:active {
    text-decoration:underline;
    color: var(--accent-color);
}

/* 文字按钮链接 */
a.text-button {
    color: var(--text-color);
    text-decoration: none;
}
a.text-button:hover {
    color: var(--bg-color);
    text-decoration: none;
    background-color: var(--text-color);
}
a.text-button:active {
    color: var(--bg-color);
    text-decoration: none;
    background-color: var(--text-color);
}

h1 {
    font-size: 1.5rem;
}
h2 {
    font-size: 1.2rem;
}
h3, h4, h5, h6, p, blockquote {
    font-size: 1rem;
}

/* 桌面端导航栏 */
.nav {
    background-color: var(--bg-color);
    width: 100%;
    position: fixed;
    z-index: 999;
}
.nav-toggle, .navbar-button-2-toggle {
    display: none;
}
.navbar-manu-button {
    position: fixed;
    display: none;
    cursor: pointer;
}
.navbar-manu-button a {
    color: var(--text-color);
    font-size: 0;
}
.navbar-manu-button h3 {
    margin: 0;
    user-select: none;
}
.navbar {
    display: flex;
    justify-content: center;
}

div.title {
    margin-right: 20%;
    width: 40%;
    text-align: center;
}

.navbar nav {
    display: flex;
    width: 30%;
    margin-right: 10%;
    a {
        color: var(--text-color);
        display: block;
        text-align: center;
        width: 33.3333%;
        h3.navbar-button-1::before {
            content: "主页";
        }
        h3.navbar-button-2::before {
            content: "项目";
        }
        h3.navbar-button-3::before {
            content: "关于我";
        }
        h3.navbar-button-2-button-1::before {
            content: "扁舟";
        }
        h3.navbar-button-2-button-2::before {
            content: "随笔";
        }
        h3.navbar-button-2-button-3::before {
            content: "其他";
        }
    }
    a:hover {
        text-decoration: none;
        background: var(--text-color);
        color: var(--bg-color);
        h3.navbar-button-1::before {
            content: "> 主页 <";
        }
        h3.navbar-button-2::before {
            content: "> 项目 <";
        }
        h3.navbar-button-3::before {
            content: "> 关于我 <";
        }
        h3.navbar-button-2-button-1::before {
            content: "> 扁舟 <";
        }
        h3.navbar-button-2-button-2::before {
            content: "> 随笔 <";
        }
        h3.navbar-button-2-button-3::before {
            content: "> 其他 <";
        }
    }
    a:active {
        text-decoration: none;
        background: var(--text-color);
        color: var(--bg-color);
        h3.navbar-button-1::before {
            content: "> 主页 <";
        }
        h3.navbar-button-2::before {
            content: "> 项目 <";
        }
        h3.navbar-button-3::before {
            content: "> 关于我 <";
        }
        h3.navbar-button-2-button-1::before {
            content: "> 扁舟 <";
        }
        h3.navbar-button-2-button-2::before {
            content: "> 随笔 <";
        }
        h3.navbar-button-2-button-3::before {
            content: "> 其他 <";
        }
    }
    div.navbar-button-2 {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 33.3333%;
        label.navbar-button-2-manu {
            width: 100%;
            display: flex;
            justify-content: center;
            a {
                width: 100%;
            }
        }
        a.navbar-button-2-manu {
            display: block;
            width: 100%;
            h3 {
                width: 100%;
                font-size: 0;
                margin: 0;
            }
        }
        .navbar-button-2-toggle:checked ~ a.navbar-button-2-manu {
            h3 {
                font-size: 1rem;
                margin: 10px 0;
            }
        }
    }
}

.navbar h3 {
    margin: 10px 0;
}
/* 平板端导航栏 */
@media screen and (max-width: 820px) {
    .navbar nav {
        width: 35%;
        margin-right: 5%;
    }
}
/* 移动端导航栏 */
@media screen and (max-width: 767px) {
    .navbar-manu-button {
        display: flex;
    }
    .navbar-manu-button a {
        display: block;
        text-align: center;
        background-color: var(--bg-color);
        color: var(--text-color);
        font-size: 1rem;
    }
    .navbar-manu-button a:hover {
        text-decoration: none;
        background: var(--text-color);
        color: var(--bg-color);
    }
    .navbar-manu-button a:active {
        text-decoration: none;
        background: var(--text-color);
        color: var(--bg-color);
    }
    .navbar-manu-button h3 {
        margin: 10px;
    }
    div.title {
        margin-right: 0;
        width: 100%;
        text-align: center;
    }
    .navbar {
        background-color: var(--bg-color);
        flex-direction: column;
        width: 100%;
        nav {
            width: 100%;
            flex-direction: column;
            a {
                width: 100%;
                h3 {
                    width: 100%;
                    font-size: 0;
                    margin: 0;
                }
            }
            div.navbar-button-2 {
                width: 100%;
            }
        }
    }
    .nav-toggle:checked ~ .navbar nav {
        h3 {
            font-size: 1rem;
            margin: 10px 0;
        }
    }
}

.between-navbar-and-content {
    height: 2px;
    background: var(--text-color);
}

main {
    display: flex;
    flex-direction: column;
}
/* 分割线 */
div.divider {
    text-align: center;
    width: 100%;
}
h3.divider::before {
    content: "+dwb================================================================================================dwb+";
}
@media screen and (max-width: 1023px) {
    h3.divider::before {
        content: "+dwb====================================================dwb+";
    }
}
@media screen and (max-width: 767px) {
    h3.divider::before {
        content: "+dwb==============================dwb+";
    }
}
@media screen and (max-width: 374px) {
    h3.divider::before {
        content: "+dwb==================dwb+";
    }
}

/* 页脚 */
.footer-content {
    margin: 10px 0;
    text-align: center;
}